
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gill Sans", sans-serif;
    /*background: linear-gradient(90deg, #490067, #00071d);*/
    
  }
  
  html, body {
    height: 100%;
    
  }
  
  .wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  /* Styles pour la bannière */
  .banner {
    background-color: #ffffff00;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    border: solid #fb00ff;
    margin: 0.5%;
    
    
  }
  
  .banner h1 {
    margin: 0;

  }
  .banner a{
    text-decoration: none;
      color: #360041;
      font-size: 20px;
      margin-left: 0.5%;
      margin-right: 0.5%;
      background-color: #e5ff00;
      border-radius: 10px;
      padding: 0.5%;
      
  }

  .banner a:hover{
    background-color: #949600; /* Rouge */
    border-radius: 10px;

    padding: 0.7%;
    margin-left: 0.3%;
    margin-right: 0.3%;

  }
  
  /* Styles pour le menu */
  .container {
    flex: 1;
    display: flex;
  }
  

  /* Styles pour le contenu principal */
  section {
    padding: 20px;
    flex: 1;
    background-color: #00205a00;
    color: #00fbff;
    border: solid #fb00ff;
    border-radius: 10px;
    margin: 0.5%;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black; 
    
  }

  
  /* Styles pour le pied de page */
  footer {
    background-color: #00122c00;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin: 0.5%;
    border: solid #fb00ff;
    border-radius: 10px;
  }
  #bouttonCo a {
    color: white;
    list-style-type: none;
    width: 100%;
    font-weight: 700;
    font-size: 20px;
    text-decoration: none;
  
  }
  #bouttonCo button:hover {
    scale: 1.04;
    transition: all 0.2s ease-in-out;
  }
  #bouttonCo button {
    background:  linear-gradient(90deg, #ffea00, #ffbb00);
    border-radius: 20px;
    width: 200px;
    padding: 1%;
    border: 0;
    transition: all 0.1s ease-in-out;
  
  }


  #bouttonSite a {
    color: white;
    list-style-type: none;
    width: 100%;
    font-weight: 700;
    font-size: 15px;
    text-decoration: none;
  
  }
  #bouttonSite button:hover {
    scale: 1.04;
    transition: all 0.2s ease-in-out;
  }
  #bouttonSite button {
    background:  linear-gradient(90deg, #ffea00, #ffbb00);
    border-radius: 10px;
    width: 15%;
    padding: 0.4%;
    border: 0;
    transition: all 0.1s ease-in-out;
  
  }
  
  .article{
    border-radius: 10px;
    padding: 10px;
    border: solid #fb00ff;
    background-color: #490067;
    
  }

  .article:hover{
   background-color: #7600a4;
  }

  a{
    color: #eaca00;
    text-decoration: none;
   }

  .ssb64o img{
    width : 50%;
    height: 50%; 
  }
  .img100 img{
    width : 50%;
    height: 50%; 
    border: solid #e71a1a;

  }


  .sun {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh; /* Utilise 100% de la hauteur de la fenêtre */
    width: 300vh;
    pointer-events: none;
    z-index: -1; /* Assurez-vous que l'image est au-dessus du contenu si nécessaire */
    background: linear-gradient(#490067, #000000);
}

.sun img {
    width: auto;
    height: 80%; /* Utilise 100% de la hauteur du conteneur parent */
    object-fit: cover;
    top: 20%;
    left: 30%;

}



.input{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;

	
	
}
input:focus{
	outline: NONE;
	}
.inputa{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
	border:none;
	border-bottom: 2px solid #0b40b3;
	height: 40px;
	

}

.input input {
	background-color: #3cbc8d00;
	border : 0;
	color: #10c1d8;
	font-size: 16px;
	
}
.input input:focus{
	height: 30px;
	border: 5px solid none;
	
}





.popup-container {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 20px;
	background:  linear-gradient(#09104b, #000000);
	text-align: center;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	z-index: 1000;


	font-family: 'Poppins', sans-serif;
	border-radius: 10px;
	color: #9de9f3;
	border: solid #fb00ff;
}

.overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.7);
	z-index: 999;
}
